/* Reset básico y fuentes globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #222;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


